<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.chicdenver">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:versionCode="0"
        android:versionName="0.5"
        android:vmSafeMode="true"
        tools:replace="android:allowBackup">

        <activity
            android:name=".ui.wf_pages.FormsActivity"
            android:label="@string/title_activity_forms">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
<!--        <activity-->
<!--            android:name=".ui.wf_pages.PostingsActivity"-->
<!--            android:label="@string/title_activity_postings">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name=".ui.staff_pages.ManageAnnouncementsActivity"
            android:label="@string/title_activity_manage_classes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.staff_pages.ManageClassesActivity"
            android:label="@string/title_activity_manage_classes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.staff_pages.ManageStudentsActivity"
            android:label="@string/title_activity_manage_students"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.connect.ConnectActivity"
            android:label="@string/title_activity_connect"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main_pages.UnverifiedUserActivity"
            android:label="@string/menu_unverified"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main_pages.AnnouncementsActivity"
            android:label="@string/title_activity_announcements"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main_pages.AccountActivity"
            android:label="@string/title_activity_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.student_pages.ClassPortalActivity"
            android:label="@string/title_activity_student_cp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main_pages.HomeActivity"
            android:label="@string/menu_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main_pages.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.SignupActivity"
            android:exported="true"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".ui.login.LoginActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>